<div id="g-container" class="game-container">

  <img id="text" src="" class="text-image" draggable="false" />

  <%== partial(:_flower_partial, :field_list => @field_list) %>

  <div id="div-reset" class="play-again"></div>

</div>

<script src="/javascripts/playAgain.js"></script>
<script src="/javascripts/backgroundMusic.js"></script>
<script src="/javascripts/dynamicKeyFrames.js"></script>
<script src="/javascripts/backgroundVisual.js"></script>
<script src="/javascripts/changeFavIcon.js"></script>
<script src="/javascripts/changeFace.js"></script>
<script src="/javascripts/dragPetals.js"></script>
