<div id="g-container" class="game-container">

  <img id="text" src="/images/assets/misc/1x1.png" class="text-image" draggable="false" />

  <%== partial(:_flower_partial, :field_list => @field_list) %>

  <div id="div-reset" class="play-again"></div>

  <!-- <input type="range" id="volume"/> -->
</div>

<div id="v-container" class="volume-container">
  <img id="volume-icon" class="volume-icon" src="/images/assets/volume/speaker.png"/>
</div>

<div id="c-container" class="credits-container">
  <div id="c-icon-container" class="credits-icon-container">
    <div id="credits-icon" class="credits-icon">
      <p>i</p>
    </div>
  </div>
  <section id="credits" class="credits noselect">
    <p>
      A special thank you to <u>Zade Dardari</u> for composing the music.
    </p>
    <p>
      <strong>Disclaimer</strong>: I do not claim ownership of any of the image graphics used in this project (ripped by <u>TJ the Kid</u>).
    </p>
  </section>
</div>

<script src="/javascripts/dragPetals.js"></script>
<script src="/javascripts/backgroundMusic.js"></script>
<script src="/javascripts/dynamicKeyFrames.js"></script>
<script src="/javascripts/playAgain.js"></script>
<script src="/javascripts/changeFace.js"></script>
<script src="/javascripts/changeFavIcon.js"></script>
<script src="/javascripts/onHoverReveal.js"></script>
