<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <head>
    <title>She Loves Me</title>
    <link rel="icon" type="image/x-icon" href="/images/icons/normal-face.ico" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/game.css">
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/volume.less" />
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"></script>
  </head>
  <body>
    <%== yield %>
  </body>
</html>