<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <head>
    <link rel="icon" type="image/x-icon" href="/images/icons/normal-face.ico" />
    <title>She Loves Me</title>
    <meta name="description" content="Inspired by the iconic mini-game featured in Super Mario 64 DS! Find out if they really love you... or not!"/>
    <meta charset="UTF-8">
    <meta property="og:image" content="/images/logo/shelovesme-logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"></script>
    <script src="/javascripts/backgroundVisual.js"></script>
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/game.css">
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/volume.less" />
  </head>
  <body>
    <%== yield %>
  </body>
</html>