@font-face {
  font-family: 'loveFont';
  src: url('/fonts/love.ttf');
}

html, body {
  cursor: default;
  cursor: url('/images/assets/cursor/cursor-pointer.png'), auto;
  font-family: 'loveFont';
  overflow: hidden;
}

html, body:active {
  cursor: url('/images/assets/cursor/cursor-grabbing.png'), auto;
}

.game-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flower-face-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 500px;
}

.flower-face-image {
  animation: rotation 3s infinite linear;
  margin: auto;
  transform: rotate(-10deg);
  width: 100px;
  height: 100px;
}

.petals {
  position: relative;
  width: 500px;
  height: 500px;
}

.petal {
  width: 52px;
  height: 79px;
}

.falling {
  animation: fallAnimation 1s both ease-in;
  -webkit-animation: fallAnimation 1s both ease-in;
}

.text-image {
  margin: 0 auto;
  width: 759px;
  height: 96px;
  visibility: hidden;
}

.play-again > img {
  cursor: inherit;
  height: 50px;
  width: auto;
}

.play-again > img:active {
  height: 50px;
  transform: scale(0.95);
  width: auto;
}

button.play-again {
  border: none;
  cursor: inherit;
  appearance: none;
  background-color: inherit;
  display: flex;
  justify-content: center;
  width: fit-content;
}

form.play-again {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}

div.play-again {
  width: 100%;
  height: 50px;
}

.credits {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  color: #615630;
  position: sticky;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.85rem;
  padding: 5px;
  bottom: 75px;
  width: fit-content;
}

.credits:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


@keyframes rotation {
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* @keyframes fallAnimation {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(1000px);
  }
} */